@model List<insta_001.Models.Comment>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Greeting</h2>

@foreach (insta_001.Models.Comment comm in Model)
{
    <div style="width:100%;">
        <div> @comm.author </div>
        <div> @comm.text</div>
    </div> 
    <br>
}