@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You observe next instagram accounts:</p>
<b>
    @{
        foreach (string user in @ViewBag.users)
        {
            @user
    <br />
        }
    }
</b>
<br />

You can add/delete insagram user. Put username below.
<div>
    @using (Ajax.BeginForm("AjaxUpdate", new AjaxOptions
    { UpdateTargetId = "update" }))
    {
        string user = "";
        <p> Username : </p>    @Html.EditorFor(x => user)
        <input type="submit" value="Submit" />
    }

<div id="update">
</div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ajax")



