@model List<insta_001.Models.InstModel>
@{
    ViewBag.Title = "inst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function onChecked() {
        if ($("#sort").is(':checked')) {
            SortByPostCreated();
        }
        else {
            SortByCommentCreated();
        }
    };


    function SortByPostCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByPostCreated", "Inst", null, Request.Url.Scheme)",
            type: "GET",
            success: function (data) { alert("Посты отсортированы по дате создания"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
        })
    };

    function SortByCommentCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByCommCreated", "Inst", null, Request.Url.Scheme)",
            type: "GET",
            success: function (data) { alert("Посты отсортированы по дате последнего комментария"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
        })
    };

</script>


<div style="width:100%;text-align:right">
    сортировка по дате создания поста <input type="checkbox" id="sort" onchange="onChecked()" />
</div>

<div id="preload">
    @Html.Partial("AjaxUpdate", Model)
</div>
