@model List<insta_001.Models.InstModel>
@{
    ViewBag.Title = "inst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function onClick() {
        $("#sort").toggleClass('active');

        if ($("#sort").hasClass('active')) { 
            SortByPostCreated();
            $("#sort").val('отсортировать по комментариям');
        }
        else {
            SortByCommentCreated();
            $("#sort").val('отсортировать по постам');
        }
    };


    function SortByPostCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByPostCreated", "Inst", null, Request.Url.Scheme)",
            type: "POST",
            timeout: 20000,
            success: function (data) { alert("Посты отсортированы по дате создания"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
           
        })
    };

    function SortByCommentCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByCommCreated", "Inst", null, Request.Url.Scheme)",
            type: "POST",
            timeout: 20000,
            success: function (data) { alert("Посты отсортированы по дате последнего комментария"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
        })
    };

</script>

<div style="width:100%;text-align:right">
    <input type="button" id="sort" onclick="onClick()" value="отсортировать по постам"/>
</div>


<div id="preload">
    @Html.Partial("AjaxUpdate", Model)
</div>
