@model List<insta_001.Models.InstModel>
@{
    ViewBag.Title = "inst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function onChecked() {
        if ($("#cbSort").attr("checked") == 'checked') {
            SortByPostCreated();
        }
        else {
            SortByCommentCreated();
        }
    };

    function SortByPostCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByPostCreated", "Inst", Model, Request.Url.Scheme)",
            type: "POST",
            success: function (data) { alert("Успешное выполнение"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
        })
    };

    function SortByCommentCreated() {
        $.ajax({
            url: "@Url.Action("AjaxSortByCommCreated", "Inst", Model, Request.Url.Scheme)",
            type: "POST",
            success: function (data) { alert("Успешное выполнение"); $('#preload').html(data); },
            error: function (e) { alert("Ошибка выполнения"); }
        })
    };

</script>



<div style="width:100%;text-align:right">
    сортировка по дате создания поста <input type="checkbox" id="cbSort" onchange="onChecked()" />
</div>

<div id="preload">
    @Html.Partial("AjaxUpdate", Model)
</div>
