<style>
    a {
        font-size: 18px;
    }

    .imgBlock {
        float: none;
        width: 300px;
        height: auto;
    }

        .imgBlock img {
            width: 300px;
            height: auto;
        }

    .commentBlock {
        float: none;
        width: 250px;
    }

    .post {
        border: 1px solid #ccc;
        vertical-align: top;
        width: 330px;
        margin: 10px;
        float: left;
        display: inline-block;
    }

    li {
        display: inline;
    }
</style>
@Scripts.Render("~/bundles/angular")
<script>
    var countryApp = angular.module("instaApp", []);

    countryApp.config(['$compileProvider', function ($compileProvider) {
        $compileProvider.debugInfoEnabled(false);
    }]);

    countryApp.controller('instaCtrl', function ($scope, $http) {
        $http({
            //https://api.myjson.com/bins/lqud1
            url: "@Url.Action("GetAllPosts", "Test", null, Request.Url.Scheme)",
            method: 'GET'
        }).then(function (response) {
            $scope.data = response.data;
            formateDate(response.data);
            console.log(response.data); //alert("Успешное выполнение");
        }, function (error) {
            alert("Ошибка выполнения");
        });

    });

    function formateDate(data) {
        for (var i = 0; i < data.length; i++) {
            data[i].created = new Date(data[i].created);
            for (var j = 0; j < data[i].comments.length; j++) {
                data[i].comments[j].created = new Date(data[i].created);
             }
        }
        return data;
    }

</script>

<div id="results" ng-app="instaApp" ng-controller="instaCtrl">
    <div style="width:100%;font-size:25pt;text-align:center;">
        Загружено {{data.length}} постов!
    </div>
    <div ng-repeat="post in data" class="col-xs-6 post">

        <div class="imgBlock">
            <a href="{{post.postLink}}">
                <img class="img-circle" src="{{post.picSrc}}" />
            </a>
            <a href="https://www.instagram.com/{{post.postAuthor}}"> {{post.postAuthor}}</a>
            <p style="font-size: 10px;"> {{post.created}} </p>

        </div>
        <div class="commentBlock" ng-repeat="comm in post.comments">

            <b><a href="https://www.instagram.com/{{comm.author}}">{{comm.author}}</a></b>
            <br>
            <span style="font-size: 10px;">{{comm.created}} </span>
            <div>{{comm.text}}</div>
            <br>

        </div>
    </div>
</div>
